@using Bluegarden.HRPlus.Common
@using Bluegarden.HRPlus.Web.Models.Common

@{
    Layout = "~/Views/NextGen/Shared/_ReactLayout.cshtml";

    ViewBag.Title = ViewBag.MyEmployments != true ?
                        Html.GetTranslation(LocalizationKeys.Common.Menu.EmploymentFiles) :
                        Html.GetTranslation(LocalizationKeys.Common.Menu.MyEmploymentFiles);

    ViewBag.UseNordicCool = true;

    ViewBag.ReactHookId = "employment-card-view";

    ViewBag.HelpModel = new IButtonPopupModel
    {
        Title = LocalizationKeys.IButton.EmploymentAdministrationFilesTitle,
        HelpText = LocalizationKeys.IButton.EmploymentAdministrationFilesHelpText
    };
}

@using (Html.BeginAntiForgeryForm())
{
    <div class="grid-row no-margin">
        <div class="grid-column-12">
            <h1>@ViewBag.Title</h1>
        </div>
        <div>
            @Html.Action("GetCreateCaseButtons", "Employment", new { area = "Employment", hide = false })
        </div>
    </div>
}

@section head
{
    @Styles.Render("~/bundles/employment/list/css")
    @Styles.Render("~/bundles/NextGen/css")
}

@section scripts
{
    @Scripts.Render("~/Scripts/NextGen/pages/EmploymentList/js")
}

